@import "./base.css";

#app {
  font-family: GoogleSans ;
  font-size: 14px;
}

a {
  text-decoration: none;
  font-family: GoogleSans ;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: GoogleSans ;
  overflow: hidden;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  font-family: GoogleSans ;
  font-size: 14px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(190, 190, 190, 0.842);
}