.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.6);
  position: fixed;
  z-index: 22;
}
.modal-icon{
  display: flex; 
  align-items: center;
  padding-right: 24px;
}
.hide {
  display: none !important;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 24px 0 6px 24px;
  font-weight: 700;
  min-height: 24px;
}

.modal-help {
  position: relative;
  background: url('../assets/Icons/sprites.svg') no-repeat -49px -49px;
  width: 21px;
  height: 21px;
  margin-right: 20px;
}

.modal-close {
  position: relative;
  background: url('../assets/Icons/sprites.svg') no-repeat -244px -28px;
  width: 14px;
  height: 14px;
  margin: 0;
}
.modal-close:hover{
  cursor: pointer;
}
.modal-help:hover{
  cursor: pointer;
}
.form-modal {
  height: fit-content;
  width: 600px;
  background: white;
  display: block;
}

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 24px 24px 0px;
  border-bottom: 1px solid rgb(192, 192, 192);
}

.label-tittle {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  height: 20px;
  margin: 0px 0px 8px 0px;
  padding: 0;
  width: auto;
}
.row-checkbox{
  display: flex; 
  margin-bottom: 9px
}
.row2-selection{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.row1-name{
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.ce-name-input{
  width: 550px;
  margin-top: 0 !important;
}
.ce-name-input:focus{
  border: 1px solid #1A73E8;
}
.ce-code-input{
  width: 266px;
}
.row2 {
  margin-right: 10px;
  flex:1; 
  display: flex ;
  flex-direction: column;
}
.checkbox1{
  flex: 1;
  align-items: center;
}
.custom-position{
  margin: 0 0 0 0;
}
.combobox-level{
  position: relative;
  margin: 0;
  border-radius: 5px;
  width: 100%;
}
.combobox-level:hover{
  border: 1px solid #1A73E8;
}
.input-level{
  width: calc(100% - 35px);
  text-align: start ;
  padding: 12px;
  border-radius: 5px 0px 0px 5px;
}
.input-level:focus{
  outline: none;
}
.ce-notes-input{
  height: 80px;
  width: 550px;
  font-family: GoogleSans;
  font-size: 14px;
  resize: none;
}
.modal-footer{
  height: 60px;
  padding: 12px 24px;
}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.flex{
  flex : 1;
}
.btn{
  min-height: 36px;
  min-width: 80px;
  border: none;
  box-shadow: none;
  position: relative;
  padding: 0;
  border-radius: 4px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.btn.btn-save{
  color: #fff;
    background: #2979ff;
}
.btn.btn-save:hover{
  cursor: pointer;
}
.btn.btn-save-add:hover{
  cursor: pointer;
}
.btn.btn-save-add{
  border: 1px solid #2979ff;
  color: #2979ff;
  background: #fff;
  width: 130px;
  margin-right: 10px;
}
.btn.btn-cancel{
  border: 1px solid #e0e0e0;
    color: #000;
    background: #fff;
    margin-right: 10px;
}
.btn.btn-cancel:hover{
  cursor: pointer;
}
.btn-edit{
  width: 110px;
}
.position-level{
  top: 35px; 
  width : 100%;; 
  left: 0px;
}
.custom1{
  display: grid;
}
.custom2{
  margin-bottom: 16px;
}
.custom3{
  flex:1;
  display: flex;
  flex-direction: column;
}
.custom4{
  flex:1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.red{
  color: red;
  margin: 0;
}
.mg-left{
  margin-left: 24px;
}